In [7]:
import pandas as pd

# pd.read_csv("food_notformal_notcleaned.csv").drop(columns=["Unnamed: 0"])
# pd.read_excel("food_formal_cleaned_classified_.xlsx")
pd.read_excel("字顺表.xlsx").fillna(value="").drop(columns="Unnamed: 0")

     Unnamed: 0 name    Y      D       S F
0           104   阿鱼   草鱼
1           455  安石榴   石榴
2           283   白菜              蔬菜类及制品
3           281  白鲳鱼               鱼虾蟹贝类
4           292  白带鱼               鱼虾蟹贝类
..          ...  ...  ...    ...     ... ..
533         317  猪腰子       猪腰，猪肾  畜肉类及制品
534         267  竹刀鱼  秋刀鱼
535         385   椎茸   香菇
536         257   紫菜   紫菜
537         258   紫菜          紫菜     菌藻类

[538 rows x 6 columns]